PORT=4002
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres_dev_password@localhost:5432/notification_service_db?schema=public

NATS_URL=nats://localhost:4222
NATS_AUTH_TOKEN=dev_nats_token_sec_123
NATS_TLS_CA_PATH=../../nats/certs/ca.crt

JWT_SECRET=super_secret_jwt_key_change_in_production_12345

NOTIFICATION_PROVIDER=console

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
