PORT=4001
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres_dev_password@localhost:5432/user_service_db?schema=public

NATS_URL=nats://localhost:4222
NATS_AUTH_TOKEN=dev_nats_token_sec_123
NATS_TLS_CA_PATH=../../nats/certs/ca.crt

JWT_SECRET=super_secret_jwt_key_change_in_production_12345
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION_DAYS=7
